services:
  web:
    build: .
    container_name: flowfunds-web
    command: sh /app/scripts/entrypoint.sh gunicorn flowfunds_back.wsgi:application --bind 0.0.0.0:8000 --timeout 120
    volumes:
    - /opt/flowfunds/staticfiles:/app/staticfiles
    - /opt/flowfunds/media:/app/media

    ports:
      - "8007:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - mynetwork

  db:
    image: postgres:16
    container_name: flowfunds-db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mynetwork

  redis:
    image: redis:7
    container_name: flowfunds-redis
    ports:
      - "6379"
    networks:
      - mynetwork

volumes:
  postgres_data:

networks:
  mynetwork:
    driver: bridge
